// #REF: reset css and set the font size to 10px in a correct way
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// #REF: This defines 1rem = 10px in a default browser settings
html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
