// #REF: reset css and set the font size to 10px in a correct way
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// #REF: This defines 1rem = 10px in a default browser settings
html {
  font-size: 75%;

  @include respond(bdesk) {
    font-size: 62.5%; // 1rem = 12px
  }

  @include respond(tland) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tport) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
}
